<div *ngIf="loading">A carregar...</div>
<div *ngIf="error">{{ error }}</div>
<button (click)="goToRegister()" style="margin-bottom: 10px;">Registar novos utilizadores</button>
<div *ngIf="!loading && !error">
  <h1>Lista de Utilizadores</h1>
  <ul class="user-list">
    <li *ngFor="let user of users" class="user-item">
      <button class="select-button" (click)="selectUser(user)">{{ user.name }}</button>
      <div *ngIf="selectedUser === user" class="user-details">
        <p><strong>Nome:</strong> {{ selectedUser.name }}</p>
        <p><strong>Email:</strong> {{ selectedUser.email }}</p>
        <button class="delete-button" (click)="deleteUser()">Deletar Utilizador</button>
      </div>
    </li>
  </ul>
</div>